// mixins

@mixin flexGrid($hAlign: flex-start, $vAlign: flex-start, $impt: '') {
  display: flex #{$impt};
	justify-content: $hAlign #{$impt};
	align-items: $vAlign #{$impt};
}

@mixin applyScrollbar(
  // $scrollbar-track-bg: $dna-scroller-track-color-inactive ,
  // $scrollbar-thumb-bg: $dna-scroller-thumb-color-inactive ,
  // $scrollbar-track-bg-active: $dna-scroller-track-color-active ,
  // $scrollbar-thumb-bg-active: $dna-scroller-thumb-color-active ,
  // $scrollbar-curve: $dna-scroller-curve ,
  // $scrollbar-size: $dna-scroller-size 
  ) {

  // width: 100%;
  // overflow-y: auto;
  // overflow-x: hidden;
  // position: relative;



  // &::-webkit-scrollbar {
  //   width: $scrollbar-size;
  //   height: $scrollbar-size;
  //   background-color: inherit;
  // }

  // &::-webkit-scrollbar-track {
  //   background-color: $scrollbar-track-bg;
  //   border-radius: $scrollbar-curve;
  // }

  // &::-webkit-scrollbar-thumb {
  //   background-color: $scrollbar-thumb-bg;
  //   border-radius: 4em;
  // }
  // &:hover {
  //   &::-webkit-scrollbar-track {
  //     background-color: $scrollbar-track-bg-active;
  //   }

  //   &::-webkit-scrollbar-thumb {
  //     background-color: $scrollbar-thumb-bg-active;
  //   }
  // }
}