// Neutral Colors
$white: #ffffff;
$gray: #8e8f90;
$black: #1E1E1E;
$text-white: #f6f6f7;

// Other Colors
$peach: #f9e1ca;
$yellow: #f5b120;
$orange: #F3852F;
$dark-blue: #1f5967;
$blue-green: #00c3c9;
$red-orange: #ea624c;
$light-blue: #86d9d2;

// Branding
$color-primary: $light-blue;
$color-secondary: $red-orange;
$color-tertiary: $yellow;
$color-background: #2d3035;

// ScrollBar
$dna-scroller-track-color-inactive: #eeeeee;
$dna-scroller-track-color-active: #e0e0e0;
$dna-scroller-thumb-color-inactive: #9e9e9e;
$dna-scroller-thumb-color-active: $color_primary;
$dna-scroller-size: 8px;
$dna-scroller-curve: 8px;

// Header
$header-height: 90px;
