extends ../layout

block content
    .hero_section
        h1 Dosage Chart
    .SectionPdf.frame_dossage_chart
        iframe(src="https://www.jnjpediatrics.com/sites/pediatrics_hcp_us/files/tylenol-motrin-dosing-on-call-en.pdf" title="Dossage Chart" frameborder="0")#myframe