extends ../layout

block content
 
    .hero
        .container
            .rslides_cont
                ul.rslides
                    li
                        img(src="/imgs/hero_section/hero.png", alt="Pristine beach with palm tree, white sand, and cerulean seawater on a bright, sunny day. ")
                        .hero-details
                            h1.hero-details--title California Kids Pediatrics
                            p.hero-details--description.
                                California Kids Pediatrics is a private practice with a mission to provide 
                                thorough and thoughtful medical care in the most comfortable of environments. 
                                We are here for you and your kids!
                            p.hero-details--description.
                                We are accepting new patients. We offer a complimentary prenatal meet and greets
                                for expecting parents.
                            //-p.hero-details--description.
                                People visit us from West Los Angeles, Cheviot Hills, Rancho Park, Playa Vista, Inglewood, Marina Del Rey, Culver City, Santa Monica, Brentwood, and beyond.
                            p.hero-details--contact-nospace.
                                Feel free to call or email our locations to schedule an appointment or ask any questions: <br>
                                West LA: <b>424-277-2020</b> <br>
                                South Bay: <b>424-322-9866</b> <br>
                                #[a.link-cdca(href='mailto:Contact@CalKidsPeds.com') Email: <b>Contact@CalKidsPeds.com </b>]
                            //- Feel free to call us at <b>424-277-2020</b> or email us at 
                            p.hero-details--contact
                               
                           
                                

                    li
                        img(src="/imgs/hero_section/Hero_Insurance.png", alt="Pediatrician shows a girl toddler cradled in her mother’s lap her health records with a tablet.")
                        .hero-details
                            h1.hero-details--title Insurance Information
                            p.hero-details--description.
                                We are contracted with most PPO insurances: Anthem Blue
                                Cross, Blue Shield, United Health Care, Aetna, Cigna, and Health
                                Net. We will also accept Oscar Insurance beginning in January
                                2021.
                            p.hero-details--description.
                                Please note that we are not “In-Network” with every single plan
                                offered by these insurance companies. We recommend to always
                                call your insurance company to confirm that we are in-network.
                            p.hero-details--description.
                                HMO Insurances we are contracted with: Cedar Sinai Health Associates, and Regal Medical Group. We are contracted with some Medi-Cal plans as well. Please call for details.
                            p.hero-details--description. 
                            <br>
                            a(href="/services/#insurance-info").btn  Read More About Insurance 

            

        
    #covid19
    section.section.section--1
        .container
            .section_wrapper.baby
                .section_details
                    h2.section_title_covid COVID-19 Update
                    h3.section_subtitle Your health and safety remain our top priority throughout this challenging time.
                .section_image
                    .section_image.left
                        img(src="imgs/services/Covid_Update_Home.png", alt="Animated representation of a parent wearing face mask taking her children to a pediatrician during the COVID-19 pandemic. ")

                    .section_wrapper.centered-1
                        ul.section_details--list
                            li We continue to conduct preventive care and sick visits as recommended by the American Academy of Pediatrics (AAP) and the Centers for Disease Control and Prevention (CDC). Our staff is healthy & well, and we have increased the frequency of our already thorough cleaning protocol. We offer Covid-19 testing by appointment only in the parking garage.
                                
                            li Telemedicine appointments are available when appropriate.
                            li We are doing our part to greatly reduce the risk of exposure on our premises. Our office opens to the fresh outside air. We keep both doors open while our central air intake vent pumps fresh air taken from near the front door into all patient rooms and throughout the office.<br><br>“When indoors, ventilation mitigation strategies help to offset the absence of natural wind and reduce the concentration of viral particles in the indoor air. The lower the concentration, the less likely some of those viral particles can be inhaled into your lungs; contact your eyes, nose, and mouth; or fall out of the air to accumulate on surfaces. Protective ventilation practices and interventions can reduce the airborne concentration, which reduces the overall viral dose to occupants.”  
                                    .source_here <i>Source: 
                                        a.link-cdc(href="https://www.cdc.gov/coronavirus/2019-ncov/community/ventilation.html" rel='noopener' target='_blank') https://www.cdc.gov/coronavirus/2019-ncov/community/ventilation.html </i>
      
                .section_details
                    h3.section_details--subcontent To ensure the safety of our patients, doctors, and staff, we have implemented the following changes as of March 2020:
                    ul.section_details--list
                        //-li.
                            We kindly require that only one parent accompanies #[span.bold.underlined one child into the office] per AAP guidelines. No second parent, siblings, friends, etc.
                            unless they have an appointment.

                        //-li.no-style #[span.bold.underlined **An exception] will be given to parents of newborns coming in for the first few visits after hospital discharge.
                        li.
                            The doctors and staff wear masks, and we ask that you do the same. #[span.bold.underlined Parents and children above age 5 are required to wear masks at all times in the office.]
                            Children between ages 2 and 5 are requested to wear a mask if they are willing. #[span.bold.underlined Children under age 2 should NOT wear a mask.]
                
    section.section.section--2
        .container
            .section_wrapper.baby
                .section_details.details-left
                    h2.section_title.left Why Well Child Visits Are Important
                    p.section_description In a baby's first year, every month brings changes. During well-baby visits, our pediatricians
                        |  will check for proper growth and development and answer your questions about eating, sleeping, and vaccinations.
                    a(href="/services/#child-visits").btn  Learn Why Well Visits Matter
                    
                .section_image.centered
                    img(src="imgs/services/Well_Child_Visit_Home.png", alt="A pediatrician gives a high five to toddler cradled by her mother during her well child visit appointment. ")

             
        
            .section_wrapper.baby.reverse
                .section_image
                    .section_image.left
                        img(src="imgs/services/When_Should_Home.png", alt="Baby holding onto a letter block. ")

                .section_details.rsection.home 
                    h2.section_title.left When Should My Baby First See a Pediatrician
                    p.section_description The first visit is typically 2-3 days after bringing the baby home from the hospital
                        |  unless otherwise directed by your pediatrician. Then follow up visits as needed until the baby reaches birth weight.
                    a(href="/services/#baby-first-ediatrician").btn  When to Visit a Pediatrician

            .section_wrapper.baby
                .section_details.details-left
                    h2.section_title.left Vaccinations
                    p California Kids Pediatrics strongly recommends following the routine schedule and guidelines approved by the Centers for Disease Control and
                        |  Prevention (CDC) and the American Academy of Pediatrics (AAP). Countless studies have shown that vaccines are safe, effective, and play a vital role
                        | in protecting the health of the individual patient and the community.
                    a(href="/vaccine-information-sheet").btn  See Vaccine Informations Sheet

                .section_image.centered
                    img(src="imgs/services/Vaccination_Home.png", alt="An experienced female pediatrician vaccinates a boy for health protection.")

    section.section.section--3
        .container
            .section_wrapper
                    h2.section_title New Patient Forms
                    p.section_details.centered Please click on the appropriate link below to complete the forms online. 
                        | Our forms are encrypted and HIPAA compliant.
            .section_details
                .section_details--1
                    h3.section_details--title A patient is UNDER 18 years of age.
                    p.section_description A parent or guardian must complete the forms.
                    a(href="/patient-registration-under-18").btn Complete Form
                .section_details--2
                    h3.section_details--title A patient is OVER 18 years of age.
                    p.section_description The adult patient must complete the forms.
                    a(href="/patient-registration-over-18").btn Complete Form
    //-REMOVED SEPT 4, 2022
    //- section.section.section--4
    //-     .container
    //-         .section_wrapper
    //-             h2.section_title Annual Membership Fee
    //-             .section_details.centered
    //-                 p California Kids Pediatrics has an annual membership fee of $75.00 per child. This fee will cover after-hours urgent phone calls, email correspondence,
    //-                     |  school forms, doctor notes, and sport physical forms which are not covered by insurance.
    //-                 p This fee is due within 30 days of your first visit. If within those 30 days you decide that you do not want to stay with the practice, then you are not
    //-                     |  responsible for payment.
    //- section.section.section--5
    //-     .container
    //-         .section_wrapper
    //-             h2.section_title Where You Can Find Us
    //-             .section_details.centered
    //-                 p We are centrally located at the corner of National Blvd. and Sepulveda Blvd., next to the Bank of America. To get there, turn into the alley between our
    //-                     |  building and the Bank of America, then turn right into the garage of the building. We are on the 2nd floor. Our complete address is 2990 S. Sepulveda Blvd., Suite 202, Los Angeles, CA 90064.
    //-                 p There is one-hour free parking in the building ($2 per 20 minutes after the first hour. Cash or check only.)
