
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="Description" content="California Kids Pediatrics is a private practice with a mission to provide thorough and thoughtful medical care in the most comfortable of environments. We are here for you and your kids!")
        title= title
        link(rel="stylesheet" type='text/css' href="/css/main.css")
        link(rel="stylesheet" type="text/css" href="/fonts/lato/fonts.css")

    body

        block nav
            .header
                .container
                    img.nav_logo(src="/imgs/logo.png", alt="twenty logo")
                    .nav_menu
                        a(href="...").nav_burger
                            span
                            span
                            span
                        .main_menu
                            .menu_link Home
                            .menu_link About
                            .menu_link Team
                            .menu_link Contact Us

        block content
        

