extends ../layout

block content
    .hero_section
        h1 Our Office Locations
    section.section.section--1
        .container
            .section_wrapper
                div We have two locations in
                    strong &nbsp;California.
                div Our doctors are ready to give your child 
                strong &nbsp; personal and professional care.

                div.mt Find us in the following locations
    .section.section--2
        div.col
            .col__innertext 
                h2 California Kids Pediatrics - West LA
                .address 2990 S. Sepulveda Blvd., Suite 202,&nbsp;
                    br.show-lg-md
                    | Los Angeles, CA 90064
                br
                span.contact -&nbsp;T. 
                  strong 424-277-2020 |
                  br.show-sm
                  span &nbsp;&nbsp;F.&nbsp;
                  strong 310-388-1104
                .description
                    p We are centrally located at the corner of the National Blvd. and Sepulveda Blvd., next to the Bank of America. To get there. turn into the alley between our building and the Bank of America, then turn right into the garage of the building. We are on the second floor. Our complete address is 2990 S. Sepulveda Blvd., Suite 202, Los Angeles, CA 90064.
                    p There is one-hour free parking in the building ($2 per 20 minutes after the first hour. Cash or check only.)
                    p We proudly serve Rancho Park, Mar Vista West Los Angeles, Cheviot Hills, Culver City, Santa Monica, Playa Vista, Inglewood, Marina Del Rey, Brentwood, Venice, Sawtelle and beyond.
                    p Please note: California Kids Pediatrics - West LA has an annual membership fee of $125.00 for the 1st child, $75.00 for the 2nd child and $50.00 for the 3rd child. This fee will cover after-hours urgent phone calls, email, correspondence, school forms, doctor notes, and sport physical forms which are not covered by insurance.
                    p This fee is due within 30 days of your first visit. If within those 30 days you decide that you do not want to stay with the practice, then you are not responsible for payment.
            .col__image 
                img(src='/imgs/location/Group_1225.png' alt='California Kids Pediatrics - West LA Image' class="img-responsive")
                <iframe class="map" src="https://maps.google.com/maps?q=2990%20S.%20Sepulveda%20Blvd.,%20Suite%20202%20Los%20Angeles,%20CA%2090064&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                </iframe>
    .section.section--3
        .col
            .col__innertext 
                h2 California Kids Pediatrics - South Bay 
                .address 23530 Hawthorne Blvd. STE 260, 
                    br.show-lg-md 
                    | Torrance, CA 90505
                br
                span.contact -&nbsp;T. 
                 strong 424-322-9866 |
                 br.show-sm
                 span &nbsp;&nbsp;F.&nbsp;
                 strong 424-866-8764
                .description
                    p We are centrally located at the corner of Hawthorne Blvd. and Skypark Dr.
                    p There is free parking in the parking lot, near the Coffee Bean. Take the elevator or stairs located in building 23550 up to the 2nd floor and cross the sky bridge to Suite 260.
                    p We proudly serve  Torrance, Palos Verdes, Redondo Beach, Hermosa Beach, Manhattan Beach, Lomita, San Pedro, Lawndale, Gardena, Carson and beyond.

            .col__image 
                img(src='/imgs/location/Group_1434.png' alt='California Kids Pediatrics - South Bay Image' class="img-responsive")
                //- img(src='/imgs/location/Group_1236.png' alt='to be followed' class="map")
                <iframe class="map" src="https://maps.google.com/maps?q=23530%20S.%20Hawthorn%20Blvd.%20STE%20260,%20Torance,%20CA%2090505&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>



