extends ../layout

block content
    .hero_section
        h1 Meet Our Team
    .section.section--1
        .container
            .section_wrapper
                .section_image
                    img(src="/imgs/meet_our_team/Leila_Bozorgnia.png" alt="Dr. Leila Bozorgnia wearing white doctor's coat.")
                .section_details
                    h2.section_title.left Leila Bozorgnia, MD FAAP
                    p.section_description Dr. Leila is a Board Certified Pediatrician, a fellow of the American Academy of Pediatrics, and founder of
                        |  California Kids Pediatrics. Dr. Leila received her Bachelor’s Degree in the Biological Sciences from UC
                        | Irvine. She received her medical degree from the Chicago Medical School and completed her residency
                        | training at Los Angeles County-USC Women's and Children's Hospital.
                    p.section_description Dr. Leila has staff privileges at St. John's Health Center. Dr. Leila speaks English, Spanish, and Farsi.
                    p.section_description When she is not practicing Medicine, Dr. Leila enjoys spending time with her husband and two children,
                        |  cooking, running, skiing, and traveling.
            .section_wrapper
                .section_details
                    h2.section_title.left Marna Geisler, MD FAAP
                    p.section_description Marna Geisler, M.D., is a board-certified pediatrician and a fellow of the American Academy of Pediatrics. Dr.
                        |  Geisler received her Bachelor of Science degree in Chemistry and graduated Magna Cum Laude from the
                        | University of Nebraska. She is a member of Phi Beta Kappa. She received her medical degree from St. Louis
                        | University School of Medicine and completed her pediatric residency at the University of California, Irvine.
                    p.section_description Dr. Geisler has staff privileges at St. John's Health Center.
                    p.section_description Dr. Geisler’s real passion is her medical mission work. She has been on teams to Sierra Leone, Honduras, led
                        |  teams to Nicaragua, Cuba, Mongolia, Sri Lanka, and Myanmar. Many of her patients have volunteered to help
                        | on the missions. Her now-grown children have been accompanying her on trips since they were 6 years old.
                .section_image
                    img(src="/imgs/meet_our_team/Marna_Geisler.png" alt="Dr. Marna Geisler wearing black pullover holds a toddler during her peace corps volunteer work.")
            .section_wrapper
                .section_image
                    img(src="/imgs/meet_our_team/Briana_Caprow.png" alt="Dr. Briana Caprow , who wears a black office coat, smiles while standing behind a white brick wall. ")
                .section_details
                    h2.section_title.left Briana Caprow, MSN, RN, CPNP, CCRN
                    p.section_description Briana Caprow is a Board-Certified Pediatric Nurse Practitioner. She attended UCLA for both her
                        |  Bachelor’s and Master’s degrees in nursing. She has been working as a clinical nurse in the pediatric
                        | intensive care unit at UCLA Mattel Children’s Hospital since 2012, where she provides inpatient care,
                        | teaches staff, and manages nurses as a charge nurse. She has also been working as a pediatric nurse
                        | practitioner here at California Kids Pediatrics since 2017, providing primary care to patients from infancy
                        | to adolescence. Briana has a passion for pediatrics and delivering evidence-based, quality care to all of
                        | her patients. In her spare time, Briana enjoys yoga, swimming, and spending time with family and friends.
            p.centered Feel free to call us at 
                a.link-cdca(href='tel:424-277-2020') <b>424-277-2020</a> </b>or email us at 
                a.link-cdca(href='mailto:Contact@CalKidsPeds.com') <b>Contact@CalKidsPeds.com</a></b> to schedule an appointment or ask any questions.


    //- .section.section--2
    //-     .container
            //- .section_wrapper
            //-     h2.section_title Our Space
                
    .section.section--3
        .container
            .section_wrapper
            h2.our-space Our Spaces
            h2.section_title West LA Space
            .section_image.office
                .image_text
                    img(src="/imgs/meet_our_team/Giraffe_Room.png" alt="California Kids Pediatrics Clinic Care Unit with a mother and child giraffe painting and a tree portrait hanging on the wall.")
                    h3 Giraffe Room
                .image_text
                    img(src="/imgs/meet_our_team/Elephant_Room.png" alt="California Kids Pediatrics Clinic Care Unit with an elephant painting on the wall, pediatric examination table, and maroon-colored chair.")
                    h3 Elephant Room
            .section_image.office-center
                .image_text
                    img(src="/imgs/meet_our_team/Zebra_Room.png" alt="California Kids Pediatrics Clinic Care Unit with zebra painting on the wall, pediatric examination table, and a white chair. ")
                    h3 Zebra Room
            .section_image.office
                .image_text
                    img(src="/imgs/meet_our_team/Waiting_Area.png" alt="California Kids Pediatrics waiting area complete with comfortable chairs, pillows, and a table.")
                    h3 Waiting Area
                .image_text
                    img(src="/imgs/meet_our_team/Reception_Area.png" alt="California Kids Pediatrics reception area.")
                    h3 Reception Area
    .section.section--4
        .container
            .section_wrapper
            h2.section_title South Bay Space
            .section_image.office
                .image_text
                    img(src="/imgs/meet_our_team/Hallway.png" alt="California Kids Pediatrics Clinic Hallway.")
                    h3 Hallway
                .image_text
                    img(src="/imgs/meet_our_team/Whale-Room.png" alt="California Kids Pediatrics Clinic Whale Room.")
                    h3 Whale Room
            .section_image.office
                .image_text
                    img(src="/imgs/meet_our_team/Jellyfish-Room.png" alt="California Kids Pediatrics Clinic Jellyfish Room.")
                    h3 Jellyfish Room
                .image_text
                    img(src="/imgs/meet_our_team/Waiting-Room.png" alt="California Kids Pediatrics Clinic Waiting Room")
                    h3 Waiting Room



                