extends ../layout

block content
    .hero_section
        h1 Baby Milestone Check
    .SectionPdf.frame_dossage_chart
        iframe(src="https://docs.google.com/gview?url=https://www.cdc.gov/ncbddd/actearly/pdf/checklists/Checklists-with-Tips_Reader_508.pdf?pid=explorer&efh=false&a=v&chrome=false&embedded=true" title="Mile Stone" frameborder="0" scrolling="yes")#myframe