extends ../layout

block content
    .hero_section
        h1 Patient Registration Form
    .SectionPdf.frame_cont2
        iframe(src="https://hipaa.jotform.com/202101849078049" title="Patient Registration Over" frameborder="0")#myframe 