extends ../layout

block content
    .hero_section
        h1 Patient Registration Form
    .SectionPdf
        iframe(src="https://hipaa.jotform.com/201938509357059" title="Patient Registration" frameborder="0")#myframe