extends ../layout

block content
    .section.section--1
        .container
            .section_wrapper.contact
                .contact-form.thank-you-page
                    h2.section_title Thank you for connecting with us!
                    
                    