extends ../layout

block content
    .hero_section
        h1 Birth to 6 Years
    .SectionPdf.frame_dossage_chart
        iframe(src="https://www.cdc.gov/vaccines/schedules/easy-to-read/child-shell-easyread.html" title="Vaccine Birth" frameborder="0" scrolling="yes")#myframe