extends ../layout

block content
    .hero_section
        h1 Vaccine Information Sheet
    .SectionPdf.frame_vaccine
        iframe(src="https://www.cdc.gov/vaccines/schedules/easy-to-read/child-shell-easyread.html" title="Vaccine Information Sheet" frameborder="0")#myframe