extends ../layout

block content
    .hero_section
        h1 Birth to 18 Years
    .SectionPdf.frame_dossage_chart
        iframe(src="https://docs.google.com/gview?url=https://www.cdc.gov/vaccines/schedules/downloads/child/0-18yrs-child-combined-schedule.pdf?pid=explorer&efh=false&a=v&chrome=false&embedded=true" title="Vaccine Birth" frameborder="0" scrolling="yes")#myframe